<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myezen.myapp.persistance.AdminService_Mapper">
	
	
	
<sql id="search3">
 <if test="searchType != null and searchType != ''">
    <choose>
		<when test="searchType == 'memberId'">
		  AND memberId LIKE CONCAT('%', #{keyword}, '%')
		</when>
		<when test="searchType == 'memberName'">
		  AND memberName LIKE CONCAT('%', #{keyword}, '%')
		</when>
		<when test="searchType == 'memberType'">
		  AND memberType LIKE CONCAT('%', #{keyword}, '%')
		</when>
    </choose>
  </if>
</sql>

	
<!--관리자 회원관리 리스트  -->
<select id="memberList" resultType="com.myezen.myapp.domain.BikeJoinVo" parameterType="com.myezen.myapp.domain.SearchCriteria">
SELECT *
FROM (
  SELECT memberId, memberName, memberAge, memberDelYN, writeDay, memberType,
         ROW_NUMBER() OVER (ORDER BY CASE WHEN memberType = '관리자' THEN 0 ELSE 1 END, writeDay DESC) AS row_num
  FROM member1234
  WHERE memberDelYN = 'N'
  -- <include refid="search3" />
) AS numbered_rows
WHERE row_num BETWEEN ((#{page} - 1) * #{perPageNum}) + 1 AND #{page} * #{perPageNum};

</select>



<select id="memberListCount" resultType="int">
	  SELECT count(*) as cnt
	  FROM member1234
	  WHERE memberDelYN = 'N'
	   <include refid="search3" />
	  ORDER BY memberType ASC, writeDay DESC
</select>


<sql id="search4">
	 <if test="searchType != null and searchType != ''">
	  <choose>
	    <when test="searchType == 'memberId'">
	      AND memberId LIKE CONCAT('%', #{keyword}, '%')
	    </when>
	    <when test="searchType == 'memberName'">
	      AND memberName LIKE CONCAT('%', #{keyword}, '%')
	    </when>
	  </choose>
	</if>
</sql>

	<!--관리자 탈퇴회원관리 리스트  -->
<select id="memberOutList" resultType="com.myezen.myapp.domain.BikeJoinVo" parameterType="com.myezen.myapp.domain.SearchCriteria">
	SELECT *
	FROM (
	  SELECT (@row_number:=@row_number + 1) AS rnum, A.*
	  FROM (
	    SELECT memberId, memberName, memberAge, memberDelYN, memberOutDay, memberType
	    FROM member1234
	    CROSS JOIN (SELECT @row_number:=0) AS t
	    WHERE memberDelYN = 'Y'
	    <include refid="search4" />
	    ORDER BY memberOutDay DESC
	  ) A
	) B
	WHERE B.rnum >= ((#{page} - 1) * #{perPageNum}) + 1
	LIMIT #{perPageNum};
</select>

<select id="memberOutListCount" resultType="int">
	  SELECT count(*) as cnt
	  FROM member1234
	  WHERE memberDelYN = 'Y'
	   <include refid="search4" />
	   ORDER BY memberOutDay desc
	   
</select>


	
	<!--관리자 회원삭제  -->
	<delete id="deleteMember" parameterType="String">
	UPDATE member1234 SET memberDelYN ='Y', memberOutDay = now() WHERE memberId=#{memberId}
	</delete>
	
	<!-- 대여소 이용 가능 자전거 -->
	<select id="canRentBike" resultType="com.myezen.myapp.domain.BikeJoinVo">
	SELECT
    a.RENTALSHOPNAME,
    	COUNT(CASE WHEN b.BIKETYPE = '일반자전거' THEN b.BKIDX END) AS bikeNorCnt,
    	COUNT(CASE WHEN b.BIKETYPE = '전기자전거' THEN b.BKIDX END) AS bikeEleCnt
	FROM
    	RENTALSHOP1234 a
    	LEFT JOIN BIKE1234 b ON a.RENTALSHOPNAME = b.BIKELOCATION AND b.BIKESTATE = 'Y'
		GROUP BY
    	a.RENTALSHOPNAME	
	</select>

	<!--관리자 메인 페이지 요일 별 이용 현황 -->
	<select id="getRentalCountByDateRange" resultType="com.myezen.myapp.domain.BikeJoinVo">
	SELECT
	    DATE_FORMAT(a.date_value, '%Y-%m-%d') AS dayago,
	    COALESCE(SUM(CASE WHEN b.bikeType = '일반자전거' THEN 1 ELSE 0 END), 0) AS rentNorCount,
	    COALESCE(SUM(CASE WHEN b.bikeType = '전기자전거' THEN 1 ELSE 0 END), 0) AS rentEleCount
	FROM (
	    SELECT DATE(NOW() - INTERVAL (ROW_NUMBER() OVER() - 1) DAY) AS date_value
	    FROM INFORMATION_SCHEMA.TABLES
	    LIMIT 7
	) a
	LEFT JOIN (
	    SELECT bkidx, DATE(rentDay) AS rentDay
	    FROM RENT1234
	    WHERE DATE(rentDay) >= DATE(NOW() - INTERVAL 6 DAY)
	) r ON a.date_value = r.rentDay
	LEFT JOIN bike1234 b ON r.bkidx = b.BKIDX
	WHERE a.date_value >= DATE(NOW() - INTERVAL 6 DAY)
	GROUP BY DATE_FORMAT(a.date_value, '%Y-%m-%d')
	ORDER BY DATE_FORMAT(a.date_value, '%Y-%m-%d') DESC
	</select>
 	
<sql id="search1">
	<if test="searchType != null and searchType != ''">
	  <choose>
	    <when test="searchType == 'memberName'">
	      AND m.memberName LIKE CONCAT('%', #{keyword}, '%')
	    </when>
	    <when test="searchType == 'rentPlace'">
	      AND r.rentPlace LIKE CONCAT('%', #{keyword}, '%')
	    </when>
	    <when test="searchType == 'errorContent'">
	      AND e.errorContent LIKE CONCAT('%', #{keyword}, '%')
	    </when>
	  </choose>
	</if>
</sql>
	
	
	<!-- 고장 신고 내역 리스트 -->
<select id="searchBikeErrors" parameterType="com.myezen.myapp.domain.SearchCriteria"
  resultType="com.myezen.myapp.domain.BikeJoinVo">
		SELECT
		  m.memberName,
		  m.memberPhone,
		  r.rentPlace,
		  b.bikeType,
		  b.bikeCode,
		  b.bikeState,
		  e.eidx,
		  e.errorDay,
		  e.errorContent
		FROM rent1234 r
		JOIN member1234 m ON m.midx = r.midx
		JOIN bike1234 b ON b.bkidx = r.bkidx
		JOIN error1234 e ON e.ridx = r.ridx
		WHERE 1=1
  <include refid="search1" />
ORDER BY e.errorDay DESC
LIMIT #{perPageNum}
OFFSET #{offset};
</select>
	
	
	
	<!--수리내역 갯수  -->
	 <select id="searchBikeErrorsCount" resultType="int" >
		SELECT COUNT(*)
		FROM rent1234 r
		JOIN member1234 m ON m.midx = r.midx
		JOIN bike1234 b ON b.bkidx = r.bkidx
		JOIN error1234 e ON e.ridx = r.ridx
		WHERE 1=1
		<if test="searchType != null and searchType != ''">
		    <choose>
		        <when test="searchType == 'memberName'">
		            AND m.memberName LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'memberPhone'">
		            AND m.memberPhone LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'rentPlace'">
		            AND r.rentPlace LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'errorContent'">
		            AND e.errorContent LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		    </choose>
		</if>
     </select>
     


	<!-- 고장 신고 내역 상세 보기 -->
	<select id="getErrorContent" parameterType="int" resultType="com.myezen.myapp.domain.BikeJoinVo">
  	SELECT
		m.memberName,
		m.memberPhone,
		r.rentPlace,
		b.bikeType,
		b.bikeCode,
		e.eidx,
		e.errorDay,
		e.errorContent,
		e.errorImage,
		e.errorLatitude,
		e.errorLongitude,
		e.errorLocation
	FROM rent1234 r
	JOIN member1234 m ON m.midx = r.midx
	JOIN bike1234 b ON b.bkidx = r.bkidx
	JOIN error1234 e ON	e.ridx = r.ridx	
	where
	e.eidx =#{eidx}
	</select>
	
	<!-- 수리버튼 누르면 bikeState R로 변경 -->
	<update id="updateBikeState" parameterType="int">
		UPDATE bike1234 b
		JOIN rent1234 r ON b.bkidx = r.bkidx
		JOIN error1234 e ON e.ridx = r.ridx
		SET b.bikeState = 'R'
		WHERE e.eidx = #{eidx}
	</update>
	
	
	
	
	
	<sql id="search2">
		<if test="searchType != null and searchType != ''">
		    <choose>
		        <when test="searchType == 'bikeType'">
		            AND b.bikeType LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'bikeCode'">
		            AND b.bikeCode LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'errorContent'">
		            AND e.errorContent LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'bikeState'">
		            AND b.bikeState LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		    </choose>
		</if>		
	</sql>


	<!-- 수리 내역 리스트 -->
	<select id="searchBikerepairList" parameterType="com.myezen.myapp.domain.SearchCriteria" resultType="com.myezen.myapp.domain.BikeJoinVo">
		SELECT *
		FROM (
		    SELECT
		        m.memberName,
		        m.memberPhone,
		        r.rentPlace,
		        b.bikeType,
		        b.bikeCode,
		        b.bikeState,
		        e.eidx,
		        e.errorDay,
		        e.errorContent
		    FROM rent1234 r
		    JOIN member1234 m ON m.midx = r.midx
		    JOIN bike1234 b ON b.bkidx = r.bkidx
		    JOIN error1234 e ON e.ridx = r.ridx
		    WHERE 1=1
		    <include refid="search2" />
		    ORDER BY e.errorDay DESC
		    LIMIT #{perPageNum}
		    OFFSET #{offset}
		) AS B;
	</select>
	
	<!-- 수리 내역 리스트 갯수 -->
	<select id="searchBikerepairListCount" resultType="int">
		SELECT COUNT(*) as cnt
		FROM rent1234 r
		JOIN member1234 m ON m.midx = r.midx
		JOIN bike1234 b ON b.bkidx = r.bkidx
		JOIN error1234 e ON e.ridx = r.ridx
		WHERE 1=1
		<if test="searchType != null and searchType != ''">
		    <choose>
		        <when test="searchType == 'bikeType'">
		            AND b.bikeType LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'bikeCode'">
		            AND b.bikeCode LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'errorContent'">
		            AND e.errorContent LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'bikeState'">
		            AND b.bikeState LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		    </choose>
		</if>
     </select>

	<!-- 수리 완료 버튼  누르면 bikeState Y로 변경 -->
	<update id="updateBikeStateY" parameterType="int">
		UPDATE bike1234 b
		JOIN rent1234 r ON b.bkidx = r.bkidx
		JOIN error1234 e ON e.ridx = r.ridx
		SET b.bikeState = 'Y'
		WHERE e.eidx = #{eidx}
	</update>

	



<select id="bikeListCount" resultType="int" parameterType="com.myezen.myapp.domain.SearchCriteria">
  SELECT count(*) as cnt
  FROM bike1234
  WHERE 1=1
  <include refid="search5" />
</select>


<sql id="search5">
		 <if test="searchType != null and searchType != ''">
		    <choose>
		        <when test="searchType == 'bikeCode'">
		            AND bikeCode LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'bikeType'">
		            AND bikeType LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'bikeLocation'">
		            AND bikeLocation LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		        <when test="searchType == 'bikeState'">
		            AND bikeState LIKE CONCAT('%', #{keyword}, '%')
		        </when>
		    </choose>
		</if>		
	</sql>

	
	<!-- 관리자 자전거 리스트 -->
	<select id="bikeList" resultType="com.myezen.myapp.domain.BikeJoinVo" parameterType="com.myezen.myapp.domain.SearchCriteria">
	SELECT *
	FROM (
	  SELECT bikeCode, bikeType, bikeLocation, bikeState,
	         ROW_NUMBER() OVER (ORDER BY bikeCode DESC) AS row_num
	  FROM bike1234
	   WHERE 1=1
	<include refid="search5" />
	) AS numbered_rows
	WHERE row_num BETWEEN ((#{page} - 1) * #{perPageNum}) + 1 AND #{page} * #{perPageNum};
	</select>
	
	<!-- 회원 상세 정보 보기 -->
	<select id="getMemberByMemberId" parameterType="string" resultType="com.myezen.myapp.domain.BikeJoinVo">
  	SELECT * FROM member1234 where memberId = #{memberId}
	</select>


	<!-- 대여소 리스트 -->
	<select id="rentalshopList" parameterType="int" resultType="com.myezen.myapp.domain.BikeJoinVo">
	SELECT * FROM rentalshop1234 order by rsidx asc
	</select>
	
	<!-- 대여소 등록 -->
	<insert id="rentalshopInsert" parameterType="String"> 
		INSERT INTO rentalshop1234(rentalshopName,rentalshopLocation,rentalshopLatitude,rentalshopLongitude)
		VALUES(#{0},#{1},#{2},#{3})
	</insert>

	<!-- 대여소 등록 페이지 이름 중복체크-->
	<select id="adminrentalshopNameCheck" parameterType="String" resultType="int">
		select count(*) from rentalshop1234 where rentalshopName=#{rentalshopName}
	</select>

	<!--대여소 삭제  -->
	<delete id="deleteRentalshop" parameterType="String">
	delete from rentalshop1234 WHERE rentalshopName=#{rentalshopName}
	</delete>
	
	<!--관리자 자전거 리스트 상태-->
	<update id="bikeState" parameterType="String">
  	UPDATE bike1234
  	SET bikeState = #{bikeState}
 	WHERE bikeId = #{bikeId}
	</update>

	<!-- 관리자 메인페이지 자전거 총 갯수 -->
	<select id="getTotalBkidxCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM bike1234
    </select>

	<!-- 관리자 메인페이지 대여중인 자전거 -->
	<select id="getTotalRidxCount" resultType="java.lang.Integer">
         SELECT COUNT(*) FROM bike1234 where bikeState = 'N'
    </select>
	
	<!-- 관리자 메인페이지 고장 난 자전거  -->
	<select id="getTotalErrorCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM bike1234 WHERE bikeState = 'R' and bikeState = 'E'
    </select>
	
	<!-- 관리자 메인페이지 대여 가능한 자전거  -->
	<select id="getTotalRentCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM bike1234 where bikeState = 'Y'
    </select>
    

		
	<sql id="search">
		<if test="searchType != null and searchType.equals('writer')">
		    AND writer LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test="searchType != null and searchType.equals('subject')">
		    AND subject LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</sql>
	
	
	
	
	
	
	
	<!-- 모임 리스트 -->
	<select id="gatheringList" parameterType="int" resultType="com.myezen.myapp.domain.GatheringJoinVo">
		SELECT
			g.giidx, 
			i.ginfoName,
			m.memberName,
			i.gInfoCreationDay,
			i.gInfoParticipating
			FROM GATHERING1234 g
			JOIN member1234 m ON m.midx = g.midx
			JOIN gathering_info1234 i ON i.giidx = g.giidx
			WHERE
			gatheringmembertype = 'TL'
			ORDER BY
   			i.gInfoCreationDay DESC
	</select>
	
	<!-- 모임 상세 리스트 -->
	<select id="gatheringDetail" parameterType="int" resultType="com.myezen.myapp.domain.GatheringJoinVo">
		SELECT
		    i.GIIDX,
		    i.gInfoName,
		    i.gInfoParticipating,
		    i.gInfoCreationDay,
		    i.gInfoAreaIntroduction,
		    g.MIDX,
		    m.memberName,
		    COALESCE(COUNT(d.gdix), 0) AS REPORTCNT,
		    img.imageName
		FROM
		    gathering_info1234 i
		    JOIN gathering1234 g ON g.giidx = i.giidx
		    JOIN member1234 m ON m.midx = g.midx
		    LEFT JOIN gathering_Declaration1234 d ON d.giidx = i.giidx
		    LEFT JOIN image1234 img ON img.giidx = i.giidx AND img.ImgType = 'GT'
		WHERE
		    g.gatheringMemberType = 'TL'
		    AND i.giidx = #{giidx}
		GROUP BY
		    i.GIIDX, i.gInfoName, i.gInfoCapacity, i.gInfoCreationDay, i.gInfoAreaIntroduction, g.MIDX, m.memberName, img.imageName
	</select>
	
	<!-- 모임 신고 내역 리스트 -->
	<select id="gatheringDeclaration" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="com.myezen.myapp.domain.GatheringJoinVo"> 
       SELECT gi.giidx,
	       gi.GINFONAME,
	       gi.ginfoarea,
	       m.memberName AS reporterName,
	       gi.gInfoCreationDay,
	       gi.gInfoParticipating,
	       gd.gdix,
	       gd.gatheringReportContent,
	       gd.gatheringDeclarationDay,
	       ml.memberName AS TL
		FROM GATHERING_DECLARATION1234 gd
		JOIN GATHERING_info1234 gi ON gi.giidx = gd.giidx
		JOIN member1234 m ON m.midx = gd.midx -- 신고자 정보를 가져오기 위한 조인
		JOIN GATHERING1234 g ON g.giidx = gd.giidx -- 모임 정보를 가져오기 위한 조인
		JOIN member1234 ml ON ml.midx = g.midx -- 모임장 정보를 가져오기 위한 조인
		WHERE  g.gatheringMemberType = 'TL'
		ORDER BY
		gd.gatheringDeclarationDay DESC
   </select>
	
	<!-- 모임 신고 내역 상세 보기 -->
	<select id="DeclarationDetail" parameterType="int" resultType="com.myezen.myapp.domain.GatheringJoinVo">
	SELECT gi.giidx, gi.GINFONAME, m.memberName AS reporterName, gi.gInfoCreationDay, gi.gInfoParticipating, gd.gdix, gd.gatheringReportContent, gd.gatheringDeclarationDay, ml.memberName AS TL
	FROM GATHERING_DECLARATION1234 gd
	JOIN GATHERING_info1234 gi ON gi.giidx = gd.giidx
	JOIN member1234 m ON m.midx = gd.midx -- 신고자 정보를 가져오기 위한 조인
	JOIN GATHERING1234 g ON g.giidx = gd.giidx -- 모임 정보를 가져오기 위한 조인
	JOIN member1234 ml ON ml.midx = g.midx -- 모임장 정보를 가져오기 위한 조인
	WHERE gd.gdix = #{gdix} AND g.gatheringMemberType = 'TL'
	</select>
	
</mapper>

