<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리만드는곳 -->
<mapper namespace="com.myezen.myapp.persistance.BikeRentService_Mapper">

<!-- 자전거 상세보기 : bikeVo와 bikeInfo를 조인하여 JoinVo에 매핑하는 select 문 -->
<select id="RentDetail" parameterType="int" resultType="com.myezen.myapp.domain.BikeJoinVo">
  SELECT
    b.bkidx,
    b.bikeCode,
    b.bikeType,
    b.bikeLocation,
    b.bikeState,
    i.bikeContent,
    i.rentPrice
  FROM
    bike1234 b
    JOIN bikeInfo1234 i ON b.bikeType = i.bikeType
  WHERE
    b.bkidx = #{bkidx}
</select>

<update id="updateBikeState" parameterType="int">
    UPDATE bike1234
    SET bikeState = 'N'
    WHERE bkidx = #{bkidx}
</update>


<insert id="insertRentInfo" parameterType="com.myezen.myapp.domain.BikeJoinVo">
    INSERT INTO rent1234 (rentday, rentPlace, bkidx, rsidx, midx)
    VALUES (#{rentDay, jdbcType=VARCHAR}, #{bikeLocation}, #{bkidx}, #{rsidx}, #{midx})
</insert>

<select id="RentUseList" parameterType="int" resultType="com.myezen.myapp.domain.BikeJoinVo">
 SELECT
    b.bikeType,
    b.bikeState,
    b.bikeLocation,
    m.memberName,
    b.bikeCode,
    r.rentDay,
    i.rentPrice
  FROM
    bike1234 b
    JOIN bikeInfo1234 i ON b.bikeType = i.bikeType
    JOIN rent1234 r ON b.bkidx = r.bkidx
    JOIN member1234 m ON r.midx = m.midx
  WHERE
    r.bkidx = #{bkidx}
</select>



<!--
<insert id="insertRent" parameterType="com.myezen.myapp.domain.RentalInfo">
  INSERT INTO rent1234 (bkidx, midx, rentDay)
  VALUES (#{bkidx}, #{midx}, #{rentDay})
</insert>  -->

<!-- <update id="updateBikeState" parameterType="com.myezen.myapp.domain.Bike">
  UPDATE bike1234
  SET bikeState = 'N'
  WHERE bkidx = #{bkidx}
</update> --> 

































<!-- dddddddddddddddddddddddddddddddddddddddddddddddd -->
	
	    <!-- 고장/신고 접수 -->
    <insert id="bikeRentErrorInsert" parameterType="errorv">
        INSERT INTO error1234(eidx,ridx,errorContent)
        VALUES(eidx_seq.NEXTVAL,#{1},#{0})
    </insert>
    <select id="bikeRentReturnCheck" resultType="com.myezen.myapp.domain.BikeJoinVo">
    	SELECT *
		FROM rent1234
		JOIN rentalshop1234 ON rent1234.rsidx = rentalshop1234.rsidx
		JOIN bike1234 ON rent1234.bkidx = bike1234.bkidx
		LEFT JOIN return1234 ON rent1234.ridx = return1234.ridx
		JOIN member1234 ON rent1234.midx = member1234.midx
		JOIN bikeinfo1234 ON bike1234.bikeType = bikeinfo1234.bikeType
		WHERE rent1234.ridx = #{0} AND rentalshop1234.rsidx = #{1}
    </select>
    <!-- 최종 반납하기에서 컬럼값들가져오기  -->
    <select id="bikeRentOneSelect" resultType="com.myezen.myapp.domain.BikeJoinVo">
		SELECT *
		FROM rent1234
		JOIN rentalshop1234 ON rent1234.rsidx = rentalshop1234.rsidx
		JOIN bike1234 ON rent1234.bkidx = bike1234.bkidx
		WHERE rent1234.ridx = #{0} AND rentalshop1234.rsidx = #{1} AND bike1234.BIKESTATE = 'N'
    </select>
	
	<update id="bikeRentBikeUpdate" parameterType="com.myezen.myapp.domain.BikeJoinVo">
		UPDATE bike1234
		SET
		bikeLocation = #{1}, bikeState='Y' 
		WHERE
		bkidx = #{0}
	</update>
	<insert id="bikeRentReturnInsert" parameterType="com.myezen.myapp.domain.BikeJoinVo">
		 INSERT INTO RETURN1234
		(rtidx,returnplace,ridx)
		VALUES
		(rtidx_seq.nextval,#{0},#{1}) 
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>