<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리만드는곳 -->
<mapper namespace="com.myezen.myapp.persistance.BikeRentService_Mapper">

<!-- 자전거 상세보기 : bikeVo와 bikeInfo를 조인하여 JoinVo에 매핑하는 select 문 -->
<select id="getBikeRentDetail" parameterType="int" resultMap="joinResultMap">
  SELECT
    b.bkidx,
    b.bikeCode,
    b.bikeType,
    b.bikeLocation,
    b.bikeState,
    i.bikeContent,
    i.rentPrice
  FROM
    bike1234 b
    JOIN bikeInfo1234 i ON b.bikeType = i.bikeType
  WHERE
    b.bkidx = #{bkidx}
</select>


<resultMap id="joinResultMap" type="com.myezen.myapp.domain.BikeJoinVo">
  <id property="bkidx" column="bkidx" />
  <result property="bikeCode" column="bikeCode" />
  <result property="bikeType" column="bikeType" />
  <result property="bikeLocation" column="bikeLocation" />
  <result property="bikeState" column="bikeState" />
  <result property="bikeContent" column="bikeContent" />
  <result property="rentPrice" column="rentPrice" />
</resultMap>


<select id="getRentalList" resultMap="rentalResultMap">
    SELECT
        b.bikeType,
        m.memberName,
        b.bikeCode,
        r.rentDay,
        i.rentPrice,
        r.rentPlace
    FROM
        bike1234 b
        JOIN bikeInfo1234 i ON b.bikeType = i.bikeType
        JOIN rent1234 r ON b.bkidx = r.bkidx
        JOIN member1234 m ON r.midx = m.midx
    WHERE
        b.bikeState = 'N'
</select>

<update id="updateBikeState">
    UPDATE bike1234
    SET bikeState = #{bikeState}
    WHERE bkidx = #{bkidx}
</update>

<resultMap id="rentalResultMap" type="com.myezen.myapp.domain.BikeJoinVo">
    <result property="bikeType" column="bikeType" />
    <result property="memberName" column="memberName" />
    <result property="bikeCode" column="bikeCode" />
    <result property="rentDay" column="rentDay" />
    <result property="rentPrice" column="rentPrice" />
    <result property="rentPlace" column="rentPlace" />
</resultMap>


























	<!-- dddddddddddddddddddddddddddddddddddddddddddddddddddddd -->
	
	    <!-- 고장/신고 접수 -->
    <insert id="bikeRentErrorInsert" parameterType="errorv">
        INSERT INTO error1234(eidx,ridx,errorContent)
        VALUES(eidx_seq.NEXTVAL,#{1},#{0})
    </insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>