<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리만드는곳 -->
<mapper namespace="com.myezen.myapp.persistance.BoardService_Mapper">

<sql id="search"><!-- 검색기능 -->
<if test="searchType != null and searchType.equals('writer')">
		and writer like '%'||#{keyword}||'%'
</if>

<if test="searchType != null and searchType.equals('subject')">
		and  subject like '%'||#{keyword}||'%'
</if>

</sql>


<select id="boardTotal" parameterType="scri" resultType="int">
	select count(*) as cnt from board1235 where delyn='N'
	<include refid="search" />
</select>

<select id="boardSelectAll" parameterType="scri" resultType="bv">
 SELECT CASE WHEN level_ = 0 THEN RANK() OVER (PARTITION BY boardtype, level_ ORDER BY rebidx asc) END AS sortN
 			, board1235.* 
  FROM board1235 
  WHERE delyn = 'N' 
  ORDER BY rebidx DESC, level_ asc
  
</select>
<select id="boardSelectOne" parameterType="int" resultType="bv"> <!-- select하니까 resultType값 필요 -->
	select * from board1235 where delyn='N' and bidx = #{bidx}
</select>


<!-- <resultMap id="boardResultMap" type="com.myezen.myapp.domain.BoardVo">
  <id property="bidx" column="BIDX"/>
  <result property="rebidx" column="REBIDX"/>
  <result property="midx" column="MIDX"/>
  <result property="boardType" column="BOARDTYPE"/>
  <result property="writer" column="WRITER"/>
  <result property="writeday" column="WRITEDAY"/>
  <result property="subject" column="SUBJECT"/>
  <result property="content" column="CONTENT"/>
  <result property="boardView" column="BOARDVIEW"/>
  <result property="delyn" column="DELYN"/>
  <result property="filename" column="FILENAME"/>
  <result property="depth" column="DEPTH"/>
  <result property="level_" column="LEVEL_"/>
  <result property="sortN" column="sortN"/>
</resultMap>
<select id="boardSelectQna" parameterType="int" resultMap="boardResultMap">답변글용
 SELECT  CASE WHEN level_ = 0 THEN RANK() OVER (PARTITION BY boardtype, level_ ORDER BY rebidx DESC) END AS sortN,
  board1235.*FROM board1235 WHERE delyn = 'N' ORDER BY rebidx DESC, level_ ASC
</select> -->

<select id="boardSelectQna" parameterType="int" resultType="bv" ><!-- 답변글용 -->
 SELECT NVL(CASE WHEN level_ = 0 THEN RANK() OVER (PARTITION BY boardtype, level_ ORDER BY rebidx DESC) END,0) AS sortN
 			, board1235.* 
  FROM board1235 
  WHERE delyn = 'N' 
  ORDER BY rebidx DESC, level_ ASC
</select>


<update id="boardView" parameterType="int">
  UPDATE board1235 SET boardView = NVL(boardView, 0) + 1 WHERE bidx = #{bidx}
</update>


<insert id="boardInsert" parameterType="bv"><!-- 공지 -->
  INSERT INTO board1235(bidx ,boardType, writer, writeday, subject, content, boardView ,depth,level_, midx,filename,rebidx)
  VALUES (bidx_seq.nextval, 0 , #{writer}, SYSDATE, #{subject}, #{content}, 0,0,0,#{midx},#{filename}, bidx_seq.currval)
</insert>

<insert id="boardInsert2" parameterType="bv"><!-- qna --><!-- rebidx와 bidx값 동일한값 넣어줌 -->
  INSERT INTO board1235(bidx, boardType, writer, writeday, subject, content, boardView, depth, level_, midx, filename, rebidx)
  VALUES (bidx_seq.nextval, 1, #{writer}, SYSDATE, #{subject}, #{content}, 0, 0, 0, #{midx}, #{filename}, bidx_seq.currval)
</insert>


<insert id="boardInsert3" parameterType="bv"><!-- faq -->
  INSERT INTO board1235(bidx ,boardType, writer, writeday, subject, content, boardView ,depth,level_, midx,filename,rebidx)
  VALUES (bidx_seq.nextval, 2 , #{writer}, SYSDATE, #{subject}, #{content}, 0,0,0,#{midx},#{filename}, bidx_seq.currval)
</insert>

<update id="boardModify" parameterType="bv">
update board1235 set subject=#{subject}, content=#{content}, writer=#{writer},filename=#{filename} where bidx=${bidx}
</update>

<update id="boardDelete" parameterType="bv">
    update board1235 set delyn = 'Y' where bidx = #{bidx} and midx = #{midx}
</update>


<!-- 답글 -->
<update id="boardReplyUpdate"  parameterType="HashMap">
update board1235 set depth =depth+1 where bidx = #{bidx} and depth >#{depth}
</update>

<insert id="boardReplyInsert" parameterType="bv"><!-- 세션에서 rebidx에 bidx를 넣고 그값을 rebidx에 넣음 -->
  insert into board1235 (bidx, rebidx, boardType, depth, level_, subject, content, writer, midx ,filename)
  values (bidx_seq.nextval, #{rebidx}, 1, #{depth}+1, #{level_}+1, #{subject}, #{content}, #{writer}, #{midx},#{filename})
</insert>




</mapper>