<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리만드는곳 -->
<mapper namespace="com.myezen.myapp.persistance.GatheringService_Mapper">
	
	<!-- 모임생성 1.모임정보생성 -->
	<insert  id="gatheringInfoCreate" parameterType="com.myezen.myapp.domain.GatheringJoinVo" >
	  	INSERT INTO GATHERING_INFO1234 (GINFONAME,GINFOAREA,GINFOBRIEFINTRODUCTION,GINFOAREAINTRODUCTION,GINFOCAPACITY,gInfoParticipating,GINFOCREATIONDAY,GINFOJOINTYPE)
		VALUES(#{gInfoName}, #{gInfoArea}, #{gInfoBriefIntroduction}, #{gInfoAreaIntroduction}, #{gInfoCapacity},'1', NOW(),#{gInfoJoinType})
	</insert>
	<select id="gatheringInfoCreategiidx" parameterType="com.myezen.myapp.domain.GatheringJoinVo" resultType="int">
		select giidx from gathering_info1234 WHERE giidx = LAST_INSERT_ID()
	</select>
	<!-- 모임생성 2.모임생성-->
	<insert  id="gatheringCreate" parameterType="com.myezen.myapp.domain.GatheringJoinVo" >
		INSERT INTO GATHERING1234 (GIIDX,MIDX,GATHERINGAPPROVALTYPE,GATHERINGMEMBERTYPE,GATHERINGJOININGDAY)
		VALUES(#{giidx} , #{midx}, 'Y', 'TL', NOW())
	</insert>
	<!-- 모임생성 2-1. 모임명 중복체크-->
	<select id="gInfoNameCheck" parameterType="String" resultType="int">
		select count(*) from gathering_info1234 where gInfoName=#{gInfoName}
	</select>
	<!-- 모임생성 3.모임대표 이미지 넣기-->
	<insert  id="gatheringGTInsert" parameterType="com.myezen.myapp.domain.GatheringJoinVo" >
		INSERT INTO IMAGE1234 (IMAGENAME,MIDX,GIIDX,IMGTYPE,IMGCREATIONDAY)
		VALUES(#{imageName},#{midx},#{giidx},'GT',NOW())
	</insert>
	<!-- 모임생성 4.모임 이미지 넣기-->
	<insert  id="gatheringGInsert" parameterType="com.myezen.myapp.domain.GatheringJoinVo" >
		INSERT INTO IMAGE1234 (IMAGENAME,MIDX,GIIDX,IMGTYPE,IMGCREATIONDAY)
		VALUES(#{imageName},#{midx},#{giidx},'G',NOW())
	</insert>
	<!-- 모임 리스트 가져오기 -->
	<select id="gatheringListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo">
	    SELECT a.*, b.*, COALESCE(c.gwidx, 0) AS gwidx
	    FROM GATHERING_INFO1234 a
	    JOIN IMAGE1234 b ON b.GIIDX = a.GIIDX
	    LEFT JOIN gathering_wish1234 c ON c.GIIDX = a.GIIDX
	    WHERE b.IMGTYPE = 'GT'
	    LIMIT 8
	</select>
	<!-- 모임 리스트  더 가져오기 -->
    <select id="getMoreGatheringList" resultType="com.myezen.myapp.domain.GatheringJoinVo">

	    SELECT a.*, b.*, COALESCE(c.gwidx, 0) AS gwidx
	    FROM GATHERING_INFO1234 a
	    JOIN IMAGE1234 b ON b.GIIDX = a.GIIDX
	    LEFT JOIN gathering_wish1234 c ON c.GIIDX = a.GIIDX
	    WHERE b.IMGTYPE = 'GT'
	    ORDER BY a.GIIDX
	    LIMIT #{offset}, 8

    </select>
	<!--  모임 나의 리스트 가져오기 -->
	<select id="gatheringMyListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="int"> 
		SELECT a.GIIDX,a.GINFONAME,a.GINFOBRIEFINTRODUCTION,a.GINFOCAPACITY,a.GINFOPARTICIPATING,b.IMAGENAME, COALESCE(d.gwidx, 0) AS gwidx, c.GATHERINGAPPROVALTYPE 
		FROM GATHERING_INFO1234 a
		JOIN IMAGE1234 b ON b.GIIDX = a.GIIDX
		JOIN GATHERING1234 c ON c.GIIDX = a.GIIDX
		LEFT JOIN gathering_wish1234 d ON d.GIIDX = a.GIIDX
		WHERE b.IMGTYPE = 'GT' AND c.midx = #{0} AND a.GINFODELYN = 'N'
	</select>
	<!--  모임 소개페이지 리스트 가져오기 -->
	<select id="gatheringOneSimpleListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="int"> 
		SELECT * FROM GATHERING_INFO1234 a
		JOIN IMAGE1234 b ON b.GIIDX = a.GIIDX
		WHERE b.IMGTYPE = 'G' AND a.GINFODELYN = 'N' AND a.GIIDX = #{0}
	</select>
	<!-- 모임 소개페이지 체크-->
	<select id="gatheringOneSimpleListCheck" parameterType="int" resultType="String">
		SELECT c.gatheringApprovalType
		FROM GATHERING_INFO1234 a
		JOIN GATHERING1234 c ON c.GIIDX = a.GIIDX
		WHERE a.giidx = #{0} AND c.midx = #{1}
	</select>
	
	<!-- 사용자가 모임상세페이지를 들어갈수있는지 확인 -->
	<select id="gatheringMemberCheck" resultType="int" parameterType="int"> 
		SELECT COUNT(*) FROM GATHERING1234 a
		WHERE midx = #{1} AND giidx = #{0} AND GATHERINGAPPROVALTYPE = 'Y'
	</select>
	<!-- 모임상세리스트 가져오기-->
	<select id="gatheringOneListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="int"> 
 		SELECT 
		  a.GIIDX,GINFONAME,GINFOAREA,GINFOBRIEFINTRODUCTION,GINFOAREAINTRODUCTION,GINFOCAPACITY,GINFOPARTICIPATING
		  ,IMAGENAME,IMGTYPE
		  ,GATHERINGAPPROVALTYPE,GATHERINGMEMBERTYPE
		  ,c.MIDX
		  ,d.MEMBERNAME,d.MEMBERPROFILE
		FROM GATHERING_INFO1234 a
		JOIN IMAGE1234 b ON b.GIIDX = a.GIIDX
		JOIN GATHERING1234 c ON a.GIIDX = c.giidx
		JOIN member1234 d ON c.midx = d.midx
		WHERE b.IMGTYPE = 'G' AND a.GINFODELYN = 'N' AND c.GATHERINGMEMBERTYPE = 'TL'  AND a.GIIDX = #{0}
		
	</select>
	<!-- 모임 멤버 승인대기 CNT -->
	<select id="gatheringMemberWaitCNT" resultType="String" parameterType="int">
		select count(*) as cnt from GATHERING1234 where giidx = #{0} AND gatheringApprovalType = 'W'
	</select>
	<!-- 모임멤버 리스트 가져오기 -->
	<select id="gatheringMemberListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="int"> 
		SELECT a.*,b.MEMBERPROFILE
		FROM GATHERING1234 a
		JOIN MEMBER1234 b ON b.midx = a.midx
		WHERE a.GIIDX = #{giidx} AND b.MEMBERDELYN = 'N' AND a.GATHERINGMEMBERDELYN = 'N' AND a.GATHERINGAPPROVALTYPE = 'Y' LIMIT 8
	</select>
	<!-- 모임공지사항 리스트 가져오기 -->
	<select id="gatheringNoticeListSelect" resultType="com.myezen.myapp.domain.Gathering_BoardVO" parameterType="int"> 
		SELECT *
		FROM GATHERING_BOARD1234 a
		WHERE a.GIIDX = #{0} AND gBoardDelYN = 'N' AND gBoardCategory ='공지사항'
        ORDER BY GBOARDWRITEDAY DESC
	</select>
	
	<!-- 모임 정원수 -->
	<select id="gatheringInfoCapacityCheck" resultType="int" parameterType="int"> 
		SELECT gInfoCapacity FROM GATHERING_INFO1234 a WHERE a.GIIDX = #{0} AND GINFODELYN = 'N'
	</select>
	<!-- 모임 참여멤버 수-->
	<select id="gatheringInfoParticipatingCheck" resultType="int" parameterType="int"> 
		SELECT gInfoParticipating FROM GATHERING_INFO1234 a WHERE a.GIIDX = #{0} AND GINFODELYN = 'N'
	</select>
	<!-- 모임 가입타입 확인하기-->
	<select id="gatheringJoinTypeCheck" resultType="com.myezen.myapp.domain.Gathering_InfoVo" parameterType="int"> 
		SELECT ginfojointype FROM GATHERING_INFO1234 a WHERE a.GIIDX = #{0} AND GINFODELYN = 'N'
	</select>
	<!-- 가입타입 확인후 데이터넣기 자유가입-->
	<insert  id="gatheringJoinTypeAInsert" parameterType="int" >
	 	INSERT INTO gathering1234 (GIIDX,MIDX,GATHERINGAPPROVALTYPE,GATHERINGMEMBERTYPE,GATHERINGJOININGDAY)
		VALUES(#{0},#{1},'Y','TM',NOW())
	</insert>
	<!-- 가입타입 확인후 데이터넣기 승인가입-->
	<insert  id="gatheringJoinTypeBInsert" parameterType="int" >
	 	INSERT INTO gathering1234 (GIIDX,MIDX,GATHERINGAPPROVALTYPE,GATHERINGMEMBERTYPE,GATHERINGJOININGDAY)
		VALUES(#{0},#{1},'W','TM',NOW()) 
	</insert>
	<!-- 모임 가입 참여멤버 수 1++업데이트 -->
	<update id="gatheringParticipatingUpdate" parameterType="int">
	  UPDATE GATHERING_INFO1234
	  SET gInfoParticipating = gInfoParticipating + 1
	  WHERE GIIDX = #{0}
	</update>
	<!-- 찜하기 -->
	<insert  id="gatheringWish" parameterType="int" >
	 	INSERT INTO gathering_wish1234 (GIIDX,MIDX)
		VALUES(#{0},#{1}) 
	</insert>
	<!-- 찜삭제 -->
	<delete id="gatheringWishDel" parameterType="int">
	  DELETE FROM gathering_wish1234
	  WHERE giidx = #{0} and midx = #{1}
	</delete>
	<!--  모임 나의 찜 리스트 가져오기 -->
	<select id="gatheringMyWishListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="int"> 
		SELECT a.GIIDX,a.GINFONAME,a.GINFOBRIEFINTRODUCTION,a.GINFOCAPACITY,a.GINFOPARTICIPATING,b.IMAGENAME, COALESCE(d.gwidx, 0) AS gwidx , c.GATHERINGAPPROVALTYPE 
		FROM GATHERING_INFO1234 a
		JOIN IMAGE1234 b ON b.GIIDX = a.GIIDX
		JOIN GATHERING1234 c ON c.GIIDX = a.GIIDX
		JOIN gathering_wish1234 d ON d.GIIDX = a.GIIDX
		WHERE b.IMGTYPE = 'GT' AND c.midx = #{0} AND a.GINFODELYN = 'N'
	</select>	
	<!-- 모임 검색기능 -->
	<select id="searchGatherings" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="com.myezen.myapp.domain.SearchCriteria">
	   	SELECT a.GIIDX, a.GINFONAME, a.GINFOBRIEFINTRODUCTION, a.GINFOCAPACITY, a.GINFOPARTICIPATING, b.IMAGENAME,COALESCE(d.gwidx, 0) AS gwidx 
	    FROM GATHERING_INFO1234 a
	    JOIN IMAGE1234 b ON b.GIIDX = a.GIIDX
	    JOIN GATHERING1234 c ON c.GIIDX = a.GIIDX
	    LEFT JOIN gathering_wish1234 d ON d.GIIDX = a.GIIDX
	    JOIN MEMBER1234 e ON e.midx = c.midx
	    WHERE b.IMGTYPE = 'GT' AND a.GINFODELYN = 'N' AND e.memberdelyn='N' 
	     <if test="keyword != null">
	     AND a.GINFONAME LIKE CONCAT('%', #{keyword}, '%')
	    </if>
	     GROUP BY a.GIIDX, a.GINFONAME, a.GINFOBRIEFINTRODUCTION, a.GINFOCAPACITY, a.GINFOPARTICIPATING, b.IMAGENAME, COALESCE(d.gwidx, 0)
	</select>
	

	<!-- 모임 일정 만들기 -->
	<insert  id="gatheringScheduleMake" parameterType="com.myezen.myapp.domain.Gathering_ScheduleVO" >
	 	INSERT INTO gathering_schedule1234 (GIIDX,MIDX,GSCHEDULETITLE,GSCHEDULESTARTDAY,GSCHEDULEENDDAY,GSCHEDULELOCATION,GSCHEDULELATITUDE,GSCHEDULELONGITUDE,GSCHEDULEARRANGEMENTS,GSCHEDULECAPACITY,GSCHEDULEFEE,GSCHEDULEWRITEDAY,gScheduleDelYN)
		VALUES(#{giidx},#{midx},#{gScheduleTitle},#{gScheduleStartDay},#{gScheduleEndDay},#{gScheduleLocation},#{gScheduleLatitude},#{gScheduleLongitude},#{gScheduleArrangements},#{gScheduleCapacity},#{gScheduleFee}, NOW(),'N')
	</insert>
	<!-- 모임 일정 수정하기 -->
	<update  id="gatheringScheduleModify" parameterType="com.myezen.myapp.domain.Gathering_ScheduleVO" >
	 	UPDATE gathering_schedule1234
		SET
		  GSCHEDULETITLE = #{gScheduleTitle},
		  GSCHEDULESTARTDAY = #{gScheduleStartDay},
		  GSCHEDULEENDDAY = #{gScheduleEndDay},
		  GSCHEDULELOCATION = #{gScheduleLocation},
		  GSCHEDULELATITUDE = #{gScheduleLatitude},
		  GSCHEDULELONGITUDE = #{gScheduleLongitude},
		  GSCHEDULEARRANGEMENTS = #{gScheduleArrangements},
		  GSCHEDULECAPACITY = #{gScheduleCapacity},
		  GSCHEDULEFEE = #{gScheduleFee}
		WHERE
		  gsidx = #{gsidx}
	</update>
	<!-- 모임 일정 삭제하기 -->
	<delete id="gatheringScheduleDel1" parameterType="int">
		DELETE FROM gathering_schedule_join1234 WHERE gsidx = #{0}
	</delete>
	<delete id="gatheringScheduleDel2" parameterType="int">
		DELETE FROM gathering_schedule1234 WHERE giidx = #{0} AND gsidx = #{1}
	</delete>
	<!--  모임 일정 리스트 가져오기 -->
	<select id="gatheringScheduleListSelect" resultType="com.myezen.myapp.domain.Gathering_ScheduleVO" parameterType="int"> 
		SELECT a.*,
		    (SELECT COUNT(*) FROM gathering_schedule_join1234 c WHERE c.gsidx = a.gsidx) AS gScheduleParticipating 
		FROM gathering_schedule1234 a
		LEFT JOIN gathering_schedule_join1234 b ON b.gsidx = a.gsidx and b.midx = a.midx
		WHERE GSCHEDULEDELYN = 'N' AND GIIDX = #{0}
	</select>
	<!--  모임 일정 상세보기 가져오기 -->
	<select id="gatheringScheduleView" resultType="com.myezen.myapp.domain.Gathering_ScheduleVO" parameterType="int"> 
		SELECT * FROM gathering_schedule1234 WHERE  GSCHEDULEDELYN = 'N' AND GSIDX = #{0} AND GIIDX = #{1}
	</select>
	<!--  모임참여이력이있으면 gsjidx가져오기  -->
	<select id="gatheringScheduleViewCheck" parameterType="int" resultType="String">
		select gsjidx FROM  gathering_schedule_join1234 where gsidx = #{0} AND midx = #{1}
	</select>
	<!--  모임일정참여인원 가지고오기  -->
	<select id="gatheringScheduleViewJoinCNT" parameterType="int" resultType="String">
		select count(*) as CNT from gathering_schedule_join1234 where gsidx = #{0}
	</select>
	<!--  모임 일정 참여하기 검증 -->
	<select id="gatheringScheduleJoinCheck" parameterType="int" resultType="int">
		select count(*) as CNT FROM  gathering_schedule_join1234 where gsidx = #{0} AND midx = #{1}
	</select>
	<!-- 모임 일정 참여하기 -->
	<insert id="gatheringScheduleJoin" parameterType="int">
		INSERT INTO gathering_schedule_join1234 (gsidx,MIDX)
		VALUES(#{0},#{1})
	</insert>
	<!-- 모임 일정 참여취소하기 -->
	<delete id="gatheringScheduleJoinExit" parameterType="int">
		DELETE FROM gathering_schedule_join1234
		WHERE gsidx = #{0} AND MIDX = #{1};
	</delete>
	
	<!-- 모임 게시판 -->
	<!--  모임 게시글 쓰기 -->
	<insert  id="gatheringBoardWrite" parameterType="com.myezen.myapp.domain.Gathering_BoardVO" >
		INSERT INTO gathering_board1234 (giidx,midx,gBoardTitle,gBoardCategory,gBoardContents,gBoardWriteDay,gBoardDelYN,gBoardViewsCNT,gBoardLikeCNT)
		VALUES(#{giidx},#{midx},#{gBoardTitle},#{gBoardCategory},#{gBoardContents},NOW(),'N',0,0)
	</insert>
	<!--  모임 게시글 수정하는 게시물 가져오기 -->
	<select id="gatheringBoardModify" resultType="com.myezen.myapp.domain.Gathering_BoardVO" parameterType="int">
		SELECT *
		FROM GATHERING_BOARD1234 
		WHERE gBoardDelYN = 'N' AND gbidx = #{0}  AND  midx = #{1}
	</select>
	<!--  모임 수정게시글 업데이트 -->
	<update id="gatheringBoardModifyUpdate" parameterType="com.myezen.myapp.domain.Gathering_BoardVO">
		UPDATE GATHERING_BOARD1234
		SET gBoardTitle = #{gBoardTitle}, gBoardCategory = #{gBoardCategory}, gBoardContents = #{gBoardContents}
		WHERE gbidx = #{gbidx} AND midx = #{midx}
	</update>
	<!--  모임 게시글 삭제 -->
	<update id="gatheringBoardDelete" parameterType="int">
		  UPDATE GATHERING_BOARD1234
		  SET gBoardDelYN = 'Y'
		  WHERE gbidx = #{0} AND  midx = #{1}
	</update>
	
    <sql id="search">
        <if test="scri.searchType != null and scri.searchType.equals('daily')"><!-- 일상  -->
            and gBoardCategory ='일상' and (gBoardTitle like CONCAT('%', #{scri.keyword}, '%') OR gBoardContents like CONCAT('%', #{scri.keyword}, '%'))
        </if>
        <if test="scri.searchType != null and scri.searchType.equals('hobby')"><!-- 취미  -->
            and gBoardCategory ='취미' and (gBoardTitle like CONCAT('%', #{scri.keyword}, '%') OR gBoardContents like CONCAT('%', #{scri.keyword}, '%'))
        </if>
        <if test="scri.searchType != null and scri.searchType.equals('regularMeeting')"><!-- 정모  -->
            and gBoardCategory ='정모' and (gBoardTitle like CONCAT('%', #{scri.keyword}, '%') OR gBoardContents like CONCAT('%', #{scri.keyword}, '%'))
        </if>
        <if test="scri.searchType != null and scri.searchType.equals('greet ')"><!-- 가입인사  -->
            and gBoardCategory ='가입인사' (and gBoardTitle like CONCAT('%', #{scri.keyword}, '%') OR gBoardContents like CONCAT('%', #{scri.keyword}, '%'))
        </if>
        <if test="scri.searchType != null and scri.searchType.equals('notice')"><!-- 공지사항  -->
            and gBoardCategory ='공지사항' (and gBoardTitle like CONCAT('%', #{scri.keyword}, '%') OR gBoardContents like CONCAT('%', #{scri.keyword}, '%'))
        </if>

    </sql>
    <!--  모임 총게시글 가져오기 -->
    <select id="gatheringBoardTotal" resultType="int" parameterType="java.util.HashMap"> 
        SELECT count(*) as cnt
        FROM GATHERING_BOARD1234 a
        JOIN member1234 b ON b.midx = a.midx
        JOIN GATHERING1234 c ON c.giidx = a.giidx AND c.midx = a.midx
        WHERE gBoardDelYN = 'N' AND memberdelyn = 'N' AND gatheringMemberDelYN = 'N' AND a.GIIDX = #{giidx}
        <include refid="search"></include>
    </select>
    <!--  모임 게시글 리스트 가져오기 -->
    <select id="gatheringBoardListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="java.util.HashMap"> 
        SELECT *
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY CASE WHEN GBOARDCATEGORY = '공지사항' THEN 0 ELSE 1 END, GBOARDWRITEDAY DESC) AS rnum, A.*
        FROM (
            SELECT a.*, b.memberName, b.memberProfile, c.gatheringMemberType
            FROM GATHERING_BOARD1234 a
            JOIN member1234 b ON b.midx = a.midx
            JOIN GATHERING1234 c ON c.giidx = a.giidx AND c.midx = a.midx
            WHERE gBoardDelYN = 'N' AND memberdelyn = 'N' AND gatheringMemberDelYN = 'N' AND a.GIIDX = #{giidx}
            <include refid="search"></include>
        ) A
    ) B
    WHERE rnum BETWEEN (#{scri.page}-1)*#{scri.perPageNum}+1 AND #{scri.page}*#{scri.perPageNum}
    </select>
        <!--  모임 게시글 보기 -->
    <select id="gatheringBoardOneSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="int"> 
       SELECT a.*, b.memberName, b.memberProfile, c.gatheringMemberType
       FROM GATHERING_BOARD1234 a
       JOIN member1234 b ON b.midx = a.midx
       JOIN GATHERING1234 c ON c.giidx = a.giidx AND c.midx = a.midx
       WHERE gBoardDelYN = 'N' AND memberdelyn = 'N' AND gatheringMemberDelYN = 'N' AND a.GIIDX = #{0} AND a.GBIDX = #{1}
    </select>
    <!--  모임 조회수 증가 -->
    <update id="increaseViewCount" parameterType="int">
    	UPDATE GATHERING_BOARD1234 SET gBoardViewsCNT = gBoardViewsCNT + 1 where gbidx= #{gbidx}
	</update>
	<!--  모임 게시글에서 댓글 작성하기 -->
	<insert id="gatheringBoardCommentAdd"  parameterType="com.myezen.myapp.domain.Gathering_CommentVO"> 
		INSERT INTO gathering_comment1234 (gbidx,midx,gCommentContents,gCommentWriteDay,gCommentDelYN,gCommentDepth,regcidx)
		VALUES(#{gbidx},#{midx},#{gCommentContents},NOW(),'N',0,0)
	</insert>
	<!--  모임 게시글에서 댓글 작성하기 업데이트 -->
	<update id="gatheringBoardCommentAddUpdate" parameterType="com.myezen.myapp.domain.Gathering_CommentVO">
	  UPDATE gathering_comment1234
	  SET regcidx = LAST_INSERT_ID()
	  WHERE gcidx = LAST_INSERT_ID() AND gbidx = #{gbidx} AND midx = #{midx}
	</update>
	<!-- 모임 게시글에서 댓글 삭제하기 -->
	<update id="gatheringBoardCommentDelete" parameterType="com.myezen.myapp.domain.Gathering_CommentVO">
	  UPDATE gathering_comment1234
	  SET gCommentDelYN = 'Y'
	  WHERE gcidx = #{gcidx} AND gbidx = #{gbidx} AND midx = #{midx}
	</update>
	<!-- 모임 게시물에서 댓글수정 검증하기 -->
	<select id="gatheringBoardCommentMemberCheck" resultType="int" parameterType="com.myezen.myapp.domain.Gathering_CommentVO"> 
		SELECT COUNT(*)
		FROM gathering_comment1234
		WHERE gcidx = #{gcidx} AND gbidx = #{gbidx} AND midx = #{midx} AND gCommentDelYN = 'N'
	</select>
	<!-- 모임 게시글에서 수정댓글가져오기 -->
	<select id="gatheringBoardCommentModify" resultType="String" parameterType="com.myezen.myapp.domain.Gathering_CommentVO"> 
		SELECT gCommentContents
		FROM gathering_comment1234
		WHERE gcidx = #{gcidx} AND gbidx = #{gbidx} AND midx = #{midx} AND gCommentDelYN = 'N'
	</select>
	<!-- 모임 게시글에서 댓글 수정하기 -->
	<update id="gatheringBoardCommentUpdate" parameterType="com.myezen.myapp.domain.Gathering_CommentVO">
	  UPDATE gathering_comment1234
	  SET gCommentContents = #{gCommentContents}
	  WHERE gcidx = #{gcidx} AND gbidx = #{gbidx} AND midx = #{midx}
	</update>
	<!-- 모임 게시글에서 답글 달기-->
	<insert  id="gatheringBoardReplyComment" parameterType="com.myezen.myapp.domain.Gathering_CommentVO" >
		INSERT INTO gathering_comment1234 (gbidx,midx,gCommentContents,gCommentWriteDay,gCommentDelYN,gCommentDepth,regcidx)
		VALUES(#{gbidx},#{midx},#{gCommentContents},NOW(),'N',1,#{gcidx})
	</insert>
	<!-- 모임 좋아요 확인 -->
	<select id="gatheringBoardLikeCheck" parameterType="com.myezen.myapp.domain.Gathering_BoardVO" resultType="int">
		select count(*) as cnt from gathering_like1234 where gbidx = #{gbidx} and midx = #{midx}
	</select>
	<!-- 모임 좋아요 테이블 넣기-->
	<insert  id="gatheringBoardLikeInsert" parameterType="com.myezen.myapp.domain.Gathering_BoardVO" >
		INSERT INTO gathering_like1234 (gbidx,midx)
		VALUES(#{gbidx},#{midx})
	</insert>
    <!--  모임 좋아요 증가 -->
    <update id="gatheringBoardLike" parameterType="com.myezen.myapp.domain.Gathering_BoardVO">
    	UPDATE GATHERING_BOARD1234 SET gBoardLikeCNT = gBoardLikeCNT + 1 where gbidx= #{gbidx}
	</update>
	
	
	
	<sql id="searchComment">
		<if test="scri.searchType != null and scri.searchType.equals('subject')"><!-- 동적 SQL  -->
			and gBoardTitle like CONCAT('%', #{scri.keyword}, '%')
		</if>
		<if test="scri.searchType != null and scri.searchType.equals('writer')">
			and gBoardContents like CONCAT('%', #{scri.keyword}, '%')
		</if>
	</sql>
	<!--  모임 총댓글 가져오기 -->
	<select id="gatheringBoardCommentTotal" resultType="int" parameterType="java.util.HashMap"> 
        SELECT count(*) as cnt
        FROM Gathering_Comment1234 a
        JOIN GATHERING_BOARD1234 b ON b.GBIDX = a.GBIDX 
        JOIN member1234 c ON c.midx = a.midx
        JOIN GATHERING1234 d ON  d.midx = a.midx AND d.giidx = b.giidx
        WHERE  memberdelyn = 'N' AND gatheringMemberDelYN = 'N' AND gCommentDelYN = 'N'  AND a.gbidx = #{gbidx}
		<include refid="searchComment"></include>
	</select>
	<!--  모임 댓글 리스트 가져오기 -->
	<select id="gatheringBoardCommentListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="java.util.HashMap"> 
		SELECT *
		FROM (
		    SELECT @rownum := @rownum + 1 AS rnum, A.*
		    FROM (
		        SELECT a.*, c.memberName, c.memberProfile, d.gatheringMemberType
		        FROM Gathering_Comment1234 a
		        JOIN GATHERING_BOARD1234 b ON b.GBIDX = a.GBIDX
		        JOIN member1234 c ON c.midx = a.midx
		        JOIN GATHERING1234 d ON d.giidx = b.giidx AND d.midx = a.midx
		        CROSS JOIN (SELECT @rownum := 0) AS dummy
		        WHERE gBoardDelYN = 'N' AND memberdelyn = 'N' AND gatheringMemberDelYN = 'N' AND gCommentDelYN = 'N' AND a.gbidx = #{gbidx}
		        ORDER BY regcidx DESC, gCommentDepth ASC , gCommentWriteDay DESC
		    ) A
		) AS subquery
		WHERE rnum BETWEEN (#{scri.page}-1)*#{scri.perPageNum}+1 AND #{scri.page}*#{scri.perPageNum}
	</select>
	
	
	<!--모임 신고-->
	<insert id="insertDeclaration" parameterType="com.myezen.myapp.domain.GatheringJoinVo">
	INSERT INTO gathering_declaration1234(giidx, midx, gatheringReportContent, gatheringDeclarationDay)
	values(#{giidx}, #{midx}, #{gatheringReportContent},NOW())
	</insert>
	

	<!-- 모임 더보기 멤버 리스트 , 추방 , 권한 위임 -->

	<!--  모임 더보기 현재 사용자 멤버타입 가져오기  -->
		<select id="gatheringMemberType" resultType="com.myezen.myapp.domain.GatheringVo" parameterType="int"> 
			SELECT GATHERINGMEMBERTYPE
			FROM GATHERING1234 a
			JOIN MEMBER1234 b ON b.midx = a.midx
			WHERE a.GIIDX = #{0} AND b.MEMBERDELYN = 'N' AND a.GATHERINGMEMBERDELYN = 'N' AND b.midx = #{1}
		</select>
	<!--  모임 더보기 멤버 리스트 -->
		<select id="gatheringSeeMoreMemberList" resultType="com.myezen.myapp.domain.GatheringJoinVo" parameterType="int"> 
		    SELECT a.*,
		           b.memberProfile,
		           b.memberName,
		           b.memberIntro,
		           b.memberAddr
		    FROM GATHERING1234 a
		    INNER JOIN MEMBER1234 b ON b.midx = a.midx
		    WHERE a.GIIDX = #{GIIDX}
		      AND b.MEMBERDELYN = 'N'
		      AND a.GATHERINGMEMBERDELYN = 'N'
		    ORDER BY CASE a.GATHERINGMEMBERTYPE
		        WHEN 'TL' THEN 1
		        WHEN 'TLD' THEN 2
		        WHEN 'TM' THEN 3
		        ELSE 4
		    END
		</select>
	<!--  모임 더 보기 승인대기 회원 승인승낙하기 -->	
	<update id="gatheringApproveMembers" parameterType="int"> 
		UPDATE GATHERING1234 SET gatheringApprovalType = 'Y' WHERE giidx = #{0} and midx = #{1}
	</update>
		<!--  모임 더 보기 승인대기 회원 승인거절하기 -->	
	<delete id="gatheringRefuseMembers" parameterType="int"> 
		DELETE from GATHERING1234 WHERE giidx = #{0} and midx = #{1} and gatheringApprovalType = 'W'
	</delete>
	<!--  모임 더 보기 모임원 > 부모임장으로 권한 위임 (승격) -->	
		<update id="updateTLD" parameterType="int"> 
		UPDATE GATHERING1234 SET GATHERINGMEMBERTYPE = 'TLD' WHERE giidx = #{1} and midx = #{0}
		</update>

	<!--  모임 더 보기 부모임장 > 모임원으로 위임 (강등) -->	
		<update id="updateTM" parameterType="int"> 
		UPDATE GATHERING1234 SET GATHERINGMEMBERTYPE = 'TM' WHERE giidx = #{1} and midx = #{0}
		</update>
	
	<!--  모임 더 보기 모임장 >부모임장, 선택 된 부모임장 > 모임장으로 변경 -->
	
		<!-- 모임장 > 부모임장 -->	
		<update id="updateDownTLD" parameterType="int"> 
		UPDATE GATHERING1234 SET GATHERINGMEMBERTYPE = 'TLD' WHERE giidx = #{1} AND GATHERINGMEMBERTYPE = 'TL'
		</update>

		<!-- 부모임장 > 모임장 -->	
		<update id="updateTL" parameterType="int"> 
		UPDATE GATHERING1234 SET GATHERINGMEMBERTYPE = 'TL' WHERE giidx = #{1} AND midx = #{0}
		</update>
		
		


	<!--  모임 더보기 모임원 추방으로 변경 -->
		<delete id="updateMemberDELYN" parameterType="int">
	    	DELETE FROM GATHERING1234 WHERE giidx = #{0} AND midx = #{1}
		</delete>
		
	
	<!-- 모임 나가기 (midx,giidx에 해당하는 값 삭제)-->
	  <delete id="exitGathering" parameterType="int">
	   DELETE FROM gathering1234 WHERE midx = #{0} AND giidx = #{1} AND GATHERINGMEMBERTYPE IN ('TM', 'TMD')
	  </delete>
	
	<!-- 모임 가입 참여멤버 수(-)업데이트 -->
	<update id="gatheringParticipatingUpdate1" parameterType="int">
	  UPDATE GATHERING_INFO1234
	  SET gInfoParticipating = gInfoParticipating - 1
	  WHERE GIIDX = #{0}
	</update>
	
	<!-- 사진첩 작성 -->
	<insert  id="gatheringPhotoAlbumWrite" parameterType="com.myezen.myapp.domain.GatheringJoinVo" >
		INSERT INTO gathering_photoalbum1234 (giidx,midx,gPhotoAlbumTitle,gPhotoAlbumLikeCNT,gPhotoAlbumContents,gPhotoAlbumWriteDay,gPhotoAlbumDelYN)
		VALUES(#{giidx},#{midx},#{gPhotoAlbumTitle},#{gPhotoAlbumLikeCNT},#{gPhotoAlbumContents},NOW(),'N')
	</insert>
	
	<select id="gatheringPhotoAlbumGetGpaidx" parameterType="com.myezen.myapp.domain.GatheringJoinVo" resultType="int">
		select gpaidx from gathering_photoalbum1234 WHERE gpaidx = LAST_INSERT_ID()
	</select>
	
	<!-- 사진첩 모임대표 이미지 넣기-->
	<insert  id="gatheringPhotoGATInsert" parameterType="com.myezen.myapp.domain.GatheringJoinVo" >
		INSERT INTO IMAGE1234 (IMAGENAME,MIDX,GIIDX,GPAIDX,IMGTYPE,IMGCREATIONDAY)
		VALUES(#{imageName},#{midx},#{giidx},#{gpaidx},'GAT',NOW())
	</insert>
	<!-- 사진첩 모임 이미지 넣기-->
	<insert  id="gatheringPhotoGAInsert" parameterType="com.myezen.myapp.domain.GatheringJoinVo" >
		INSERT INTO IMAGE1234 (IMAGENAME,MIDX,GIIDX,GPAIDX,IMGTYPE,IMGCREATIONDAY)
		VALUES(#{imageName},#{midx},#{giidx},#{gpaidx},'GA',NOW())
	</insert>
	
	<!-- 사진첩 리스트 조회 -->
	<select id="gatheringPhotoAlbumListSelect" resultType="com.myezen.myapp.domain.GatheringJoinVo"  parameterType="com.myezen.myapp.domain.SearchCriteria">
	 SELECT *
	  FROM (
	    SELECT @rownum := @rownum + 1 AS RNUM, B.*
	    FROM (
	      SELECT a.gpaidx, a.GPHOTOALBUMWRITEDAY, a.GPHOTOALBUMTITLE, b.imgtype, b.imageName
	      FROM gathering_photoalbum1234 a
	      JOIN image1234 b ON a.giidx = b.GIIDX AND a.gpaidx = b.gpaidx
	      WHERE b.imgtype = 'GAT'
	      <if test="keyword != null">
	        AND a.GPHOTOALBUMTITLE LIKE CONCAT('%', #{keyword}, '%')
	      </if>
	      ORDER BY GPHOTOALBUMWRITEDAY DESC
	    ) B, (SELECT @rownum := 0) R
	  ) C
	  WHERE C.RNUM BETWEEN ${(page - 1) * perPageNum + 1} AND ${page * perPageNum}
	</select>
	
	<!-- 사진첩 리스트  총 게시물 조회 -->
	<select id="gatheringPhotoAlbumListSelectAll" resultType="int">
		SELECT count(*) as cnt
		FROM gathering_photoalbum1234 a
		JOIN image1234 b ON a.giidx = b.GIIDX AND a.gpaidx = b.gpaidx
		WHERE b.imgtype='GAT'
		<if test="keyword != null">
	     AND a.GPHOTOALBUMTITLE LIKE '%'||#{keyword}||'%'
	    </if>
	</select>
	
	<!-- 사진첩 상세페이지 조회 -->
	<select id="gatheringPhotoAlbumListSelectOne" resultType="com.myezen.myapp.domain.GatheringJoinVo">
		SELECT a.gpaidx, a.GPHOTOALBUMWRITEDAY, a.GPHOTOALBUMTITLE, a.GPHOTOALBUMCONTENTS, b.imgtype, b.imageName
		FROM gathering_photoalbum1234 a
		JOIN image1234 b ON a.giidx = b.GIIDX AND a.gpaidx = b.gpaidx
		WHERE b.imgtype = 'GA'
		AND a.gpaidx = #{gpaidx}
	</select>
	
	<!--  사진첩  게시글 수정 조회 -->
	<select id="gatheringPhotoAlbumModify" resultType="com.myezen.myapp.domain.GatheringJoinVo">
    	SELECT a.gpaidx, a.GPHOTOALBUMWRITEDAY, a.GPHOTOALBUMTITLE, a.GPHOTOALBUMCONTENTS, b.imgtype, b.imageName
		FROM gathering_photoalbum1234 a
		JOIN image1234 b ON a.giidx = b.GIIDX AND a.gpaidx = b.gpaidx
		WHERE b.imgtype = 'GA'
		AND a.gpaidx = #{gpaidx}
	</select>
	
	<!--  사진첩 게시글 수정 작성 -->
	<update id="gatheringPhotoAlbumModifyUpdate" parameterType="com.myezen.myapp.domain.GatheringJoinVo">
		UPDATE GATHERING_PHOTOALBUM1234
		SET gPhotoAlbumTitle = #{gPhotoAlbumTitle}, gPhotoAlbumContents = #{gPhotoAlbumContents}, gpaidx = #{gpaidx}
		WHERE gpaidx = #{gpaidx}
	</update>
	
	<!-- 사진첩 모임대표 이미지 업데이트 -->
	<update id="gatheringPhotoGATUpdate" parameterType="com.myezen.myapp.domain.GatheringJoinVo">
     UPDATE IMAGE1234
  	SET IMAGENAME = #{imageName}
  	WHERE GPAIDX = #{gpaidx} AND IMGTYPE = 'GAT'
	</update>
	
	<!-- 사진첩 모임 이미지 업데이트 -->
	<update id="gatheringPhotoGAUpdate" parameterType="com.myezen.myapp.domain.GatheringJoinVo">
	   UPDATE IMAGE1234
	  SET IMAGENAME = #{imageName}
	  WHERE GPAIDX = #{gpaidx} AND IMGTYPE = 'GA'
	</update>
	
	<!-- 사진첩 삭제 -->
	<delete id="deletePhotoAlbum" parameterType="int">
        DELETE FROM GATHERING_PHOTOALBUM1234
        WHERE midx = #{0} AND gpaidx = #{1}
   	</delete>
   	
   
	
	
</mapper>