<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리만드는곳 -->
<mapper namespace="com.myezen.myapp.persistance.MemberService_Mapper">
	<!-- 회원가입 -->
	<insert id="memberInsert" parameterType="mv">
		INSERT INTO member1234(midx,memberId,memberPwd,memberName,memberAge,memberPhone,memberEmail,memberAddr)
		VALUES(midx_seq.nextval,#{memberid},#{memberpwd},#{membername},#{memberage},#{memberphone},#{memberemail},#{memberaddr})
	</insert>
	<!-- 회원가입 아이디중복체크 -->
	<select id="memberIdCheck" parameterType="String" resultType="int">
		select count(*) from member1234 where delyn='N' and memberId=#{memberId}
	</select>
	<!-- 회원가입 이메일중복체크 -->
	<select id="memberEmailCheck" parameterType="String" resultType="int">
		select count(*) from member1234 where delyn='N' and memberEmail=#{memberEmail}
	</select>
	
	
	<select id="memberList" resultType="mv">
	select memberid,membername,memberage,delyn,writeday,membertype from member1234 order by memberType asc
	</select>

	
	<select id="memberLogin" parameterType="String" resultType="mv">
	select * from member1234 where delyn='N' and memberid=#{memberId}
	</select>


	<delete id="deleteMember" parameterType="String">
	delete from member1234 WHERE memberid=#{memberId}
	</delete>

	<select id="getMemberInfo" parameterType="int" resultType="mv">
	SELECT * FROM member1234 WHERE midx = #{midx}
	</select>
	
	<update id="updateMember" parameterType="mv">
  UPDATE member1234
  <set>
    <if test="memberpwd != null">memberPwd = #{memberpwd},</if>
    <if test="membername != null">memberName = #{membername},</if>
    <if test="memberage != null">memberAge = #{memberage},</if>
    <if test="memberphone != null">memberPhone = #{memberphone},</if>
    <if test="memberemail != null">memberEmail = #{memberemail},</if>
  </set>
  WHERE midx = #{midx}
</update>
	
	<select id="getMemberByMemberId" parameterType="string" resultType="mv">
  	SELECT * FROM member1234 where memberId = #{memberid}
	</select>
    
</mapper>