<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myezen.myapp.persistance.CommentService_Mapper">

<insert id="commentInsert" parameterType="cv">
insert into comment1230(cwriter,ccontents,bidx,midx,ip)
values(#{cwriter},#{ccontents},#{bidx},#{midx},#{ip})
</insert>

<select id="commentSelectAll"  parameterType="Integer" resultType="cv">
    SELECT * FROM (
   SELECT @rownum := @rownum + 1 AS rnum, A.*
   FROM (
       SELECT *
       FROM comment1234
       WHERE delyn='N' AND bidx=#{0}
       ORDER BY cidx ASC
   ) AS A, (SELECT @rownum := 0) AS R
) AS B
WHERE B.rnum BETWEEN 1 AND #{1}*15
</select>
    
    
<select id="commentTotalCnt"  parameterType="Integer" resultType="integer">
select count(*) as cnt from comment1230 where delyn='N' and bidx=#{bidx}
</select>


</mapper>