@charset "UTF-8";
/*대여페이지 공통부분 CSS*/

/*공통 부분*/
#main{width:1250px; margin:35px auto 70px; text-align:center;}
#main #content{width:1250px;}

/*틀부분*/
	/*큰틀,작은틀 커스텀*/
	.container{width:1250px; margin:35px auto 70px; text-align:center;}
	.containerFlex{width:100%; display:flex; flex-wrap:wrap;justify-content:center; align-items:center;}
/*카드부분*/	
	/*자전거소개박스*/
	.card{}
	/*자전거이미지*/
	.cardImg{}
	/*자전거이름*/
	.cardName{}
	/*자전거소개글*/
	.cardInfo{}
	/*자전거가격*/
	.cardContent{}	
/*QR부분*/	
	/*QR이미지*/
	.QRImg{width:265px; height:250px; margin:20px; padding:20px; box-sizing:border-box; border:1px solid #ccc; text-align:center; border-radius:10px;}
	/*QR제목타이틀*/
	.QRTitle{font-size:35px; text-align:center;}	