@charset "UTF-8";
/*모임페이지 공통부분 CSS*/
/* *{outline: 1px solid #f00;} */
/*header 부분*/
header{width:1250px; margin:35px auto 70px; text-align:center;}  
/*footer 부분*/

/*공통 부분*/
/*틀부분*/
    /*박스전체틀*/
    .aContainer{width:1250px; margin:35px auto 70px; text-align:center; border:1px solid #000;}
    /*박스작은틀*/
    .aContent{width:100%; display:flex; flex-wrap:wrap;justify-content:center; align-items:center;}
    /*박스제목*/
    .aContentTitle h2{width:100%; text-align:center; font-size:27px; margin-top:50px; margin-bottom:50px;}

/*사이드 부분*/
.list{width:300px; border:1px solid #000;}			
.menu_list {display: flex;flex-direction: column;align-items: flex-start;margin-left: 30px;clear: both;}
.menu_list li {width: 100%;	border-bottom: 1px solid #f5f5f5;padding-top: 40px;font-family: 'GangwonEdu_OTFBoldA';}
.menu_list li a {color: #000;text-decoration: none;font-weight: bold;font-size: 21px;}


/*관리자 안내*/
	/*페이지리스트 틀*/
.menu_list {display:flex; flex-direction:column; align-items:left; margin-left:30px; clear:both; width:200px;}
.menu_list li {width:100px; border-bottom:1px solid #f5f5f5; padding-top:40px; font-family:'GangwonEdu_OTFBoldA';}
.menu_list li a{color:#000; text-decoration:none; font-weight:bold; font-size:21px;}
	
	
	