@charset "UTF-8";


 /*
 공통 부분
 틀부분
 class="gContainer"//박스전체틀
 class="gContent" // 박스작은틀
 class="gContentTitle" //박스제목
 카드부분
 class="card" // 모임카드박스
 class="cardImg" // 모임프로필이미지
 class="cardWish" // 찜이미지
 class="cardTitle" // 모임제목
 class="cardInfo" // 모임설명
 class="cardJoinMem" //참여멤버
 버튼부분
 class="gBtn" //모임기본버튼양식
 class="gBtn2" //모임기본버튼양식2
 */
 
 
 
 
 	/******************************************************모바일***************************************************************/
		
@media (min-width: 300px) and (max-width: 940px)  {	
	/*header 부분*/
header{width:auto; margin:0 auto; text-align:center;}  
/*footer 부분*/

/*공통 부분*/
/*틀부분*/
    /*박스전체틀*/
    .gContainer{width:auto; margin:0 auto; text-align:center;}
    /*박스작은틀*/
    .gContent{width:auto; display:flex; flex-wrap:wrap;justify-content:center; align-items:center;}
    /*박스제목*/
    .gContentTitle h2{width:auto; text-align:center; font-size:20px; margin-top:20px; margin-bottom:20px;}
/*카드부분*/
    /*모임카드박스*/ 
    .card{position:relative; width:30%; height: 56vmin; min-height:320px; margin:5px; padding:5px; box-sizing:border-box; border:none ; text-align:center; border-radius:10px;   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);} 
    /*모임프로필이미지*/
    .cardImg{width:100%;height:50%; min-height:155px; object-fit:cover; margin-bottom:10px; border-radius:10px; }
    /*찜이미지*/
    .cardWish{position: absolute; width: 20%; bottom: 50%; right: 5%;   z-index: 100;}
    /*모임제목*/
    .cardTitle{margin-top:0;}
    /*모임설명*/
    .cardInfo{font-size: 14px; width: 118px; height: 35px; margin-top: 20px; margin-bottom: 10px; overflow: hidden; display: -webkit-box;
  -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 1.2;  text-overflow: ellipsis;}
    /*참여멤버*/
    .attend{white-space: nowrap;  overflow:hidden;}
    /*수정하거나 설정부분에 틀*/
    .gSetContainer{text-align:left; border: 1px solid #bbb;margin: 40px auto;width: 50%;padding: 20px;background-color: #f1f1f1;border-radius: 10px;}
/*메뉴부분*/
	#gMenu{width: auto;text-align: center;margin: 0px auto 0px;}
	#gMenu #menu{height:0px;}
	#gMenu #menu p{margin: 0px 40px;}
/*버튼부분*/
    /*모임기본버튼양식*/
    .gBtn{width:100%; height:30px; margin-top:0px;text-align:center; font-family:'omyu_pretty'; font-size:18px; border-radius:10px; border:0px solid #99CC99; background:#99CC99;  bottom : 0;}
    .gBtn:active{background:#339933; box-shadow:0 2px 2px rgba(0,0,0,0.1); transform:translateY(2px);}
	/*모임 더보기버튼양식*/
	.gBtn2{width:18%; height:30px; margin-top:10px; margin-bottom:3px; text-align:center; font-family:'omyu_pretty'; font-size:18px; border-radius:10px; border:0px solid #99CC99; background:#99CC99;}
	.gBtn2:active{background:#339933; box-shadow:0 2px 2px rgba(0,0,0,0.1); transform:translateY(2px);}
/*인풋부분*/
	.gInput{font-family: 'omyu_pretty';font-size: 24px;box-sizing: border-box;width: 40%;padding: 10px;margin: 2px 0;border: 1px solid #ccc;border-radius: 4px;}	
/*보기부분*/
	/*보기부분에 인풋박스처럼 박스부분*/
	.boxContent{background: #fff;font-family: 'omyu_pretty';font-size: 24px;box-sizing: border-box;width: 40%;padding: 10px;margin: 2px 0;border: 1px solid #ccc;border-radius: 4px;}	 
	
	}
	