@charset "UTF-8";


	/*****************************************모바일***************************************************************/
		
	@media (min-width: 300px) and (max-width: 940px)  {	
	/*공통 부분*/
#main{width:300px; margin:0 auto; text-align:center;}
#main #content{width:auto; height:auto;}

/*틀부분*/
	/*큰틀,작은틀 커스텀*/
	.container{width:auto; margin:35px auto; text-align:center;}
	.containerFlex{width:100px; display:flex; flex-wrap:wrap; justify-content:center; align-items:center;}
	.bcontent{width:100%; position: relative; }
/*카드부분*/	
	/*자전거소개박스*/
	.card{position:static; display:inline-block; width:25%; text-align:center; top:80px; border:1px solid #ddd; border-radius:10px; box-shadow:0 2px 4px rgba(0, 0, 0, 0.1); background-color:#fff; transition:transform 0.3s ease-in-out;}
	.card:hover {transform:translateY(-5px);}
	/*자전거이미지*/
	.cardImg {width:100%; height:auto; border-radius:20px;}
	/*자전거이름*/
	.cardName{font-family:'omyu_pretty'; padding:10px 0;font-size:18px;border-top:1px solid #ddd;}
	/*자전거소개글*/
	.cardInfo{font-family:'omyu_pretty';padding:10px 0; font-size:14px; border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
	/*자전거코드*/
	.cardCode{font-family:'omyu_pretty'; padding:10px 0; font-size:18px; border-top:1px solid #ddd; }
	/*자전거가격*/
	.cardPrice{font-family:'omyu_pretty'; padding:10px 0; font-size:18px;}
	/*자전거버튼*/
	.cardBtn{display:block; width:100px; height:30px; padding:0;  text-align:center; font-family: 'omyu_pretty'; font-size:21px; border-radius:10px; border:0px solid #ff9933; background:#ff9933;}
	.cardBtn:hover {background-color: #ffcc66;}
	.cardBtn:active{background:#ffcc66; box-shadow:0 2px 2px rgba(0,0,0,0.1); transform:translateY(2px);}
	
/*자전거디테일부분*/
	#bikeDetail{display:none;}
	#bikeDetail_mo{display:block; width:auto;height:auto; margin:0 auto;text-align:center; border:none;border-collapse: collapse;font-size: 20px; /* 전체 폰트 크기 조정 */font-family: 'omyu_pretty';border-radius: 10px; }	
	#bikeDetail_mo img{width:150px; height:150px;display:block; text-align:center; margin:0 auto;}	
	#bikeDetail_mo td{border:1px solid #ddd; padding:5px; font-size:10px; line-height:1.5;  text-align:center; text-align:left; border-radius:10px;}
	#bikeDetail_mo h2{text-align:center;font-size:15px; margin-bottom: 5px; font-family: 'omyu_pretty';}
	#bikeDetail_mo input[type="text"],textarea{font-family:'omyu_pretty'; font-size:15px; box-sizing:border-box; width:180px; padding:2px; margin:2px 0; border:1px solid #ccc; box-sizing:border-box; border-radius:4px; }
	#bikeDetail_mo button{width:100%; height:30px; text-align:center; font-family: 'omyu_pretty'; font-size:15px; border-radius:10px; border:0px solid #ff9933; background:#ff9933;}
	#bikeDetail_mo button:active {background:#ffcc66; box-shadow:0 2px 2px rgba(0,0,0,0.1); transform:translateY(2px);}
	#bikeDetail_mo label{font-size:13px;}
	#bikeDetail_mo .successPhoneChk{font-size:13px;}
	
	
	
/*QR부분*/	
	/*QR이미지*/
	.QRImg{width:50px; height:50px; margin:20px; padding:0px; box-sizing:border-box; border:1px solid #ccc; text-align:center; border-radius:10px;}
	/*QR제목타이틀*/
	.QRTitle{ width:50px; height:50px; font-size:35px; text-align:center;}	
	
/*제목부분*/
	.QRTitle{font-size:21px; text-align:center;}
	
	
	}

